{% extends "base.html" %}
{% block title %} Create Shishir Object {% endblock %}
{% block content %}
    <h1>Create a New Shishir Object</h1>
    <form method="POST">
        {% csrf_token %}
        <label>Name:</label><input type="text" name="name" required><br>
        <label>Age:</label><input type="number" name="age" required><br>
        <label>City:</label><input type="text" name="city" required><br>
        <label>Phone:</label><input type="number" name="phone" required><br>
        <label>Email:</label><input type="email" name="email"><br>
        <button type="submit">Create</button>
    </form>
{% endblock %}
